body {
  max-width: 500px;
}

#inputtext,
#consoletext,
#outputtext,
#inputnumber,
#consolenumber,
#outputnumber,
#inputboolean,
#consoleboolean,
#outputboolean {
  display: block;
  min-height: 1em;
  border: 1px solid gray;
  padding: 3px;
  background-color: RGB(245, 245, 245);
}
